.account {
  width: 100%;

  .top-bar {
    font-size: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .buttons {
      display: flex;
      justify-content: space-between;
      gap: 100px;
    }
  }
  .plan-lists {
    display: flex;
    padding: 0 30px;
    gap: 30px;

    .plan-list {
      flex-grow: 1;
      flex-basis: 0;
      background-color: var(--secondary);
      padding: 20px;
      border-radius: 20px;
      font-size: 40px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .plan {
        background-color: var(--tertiary);
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px;
        border-radius: 20px;
        font-size: 18px;

        .name {
          font-size: 25px;
          margin-bottom: 7px;
          font-weight: 600;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .modal-components {
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      h2 {
        font-weight: 500;
        font-size: 40px;
        margin: 0;
      }

      label {
        font-size: 25px;
      }

      .checkbox {
        width: 25px;
        height: 25px;
        margin: 0 20px 2px;
        vertical-align: bottom;
      }
    }
  }
}
