.create {
  width: 100%;
  height: calc(100% - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;

  .main-container {
    width: 95%;
    height: 90%;
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 20px;

    .inputs {
      display: flex;
      justify-content: space-around;
      align-items: center;

      label {
        font-size: 22px;
        text-decoration: underline;
        text-underline-offset: 0.25em;
      }

      .custom-link {
        width: fit-content;
        line-height: 40px;
        font-size: 22px;
        padding: 0 15px;

        &.disabled-link {
          pointer-events: none;
          color: #797979;
          filter: brightness(0.9);
          cursor: not-allowed;
        }
      }
    }

    .product-selection {
      width: 100%;
      max-height: 90%;
      margin-top: 30px;
      overflow-y: auto;
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      .button-container {
        height: 60px;
        display: flex;
        align-items: center;
        margin: 0 15px;
      }
    }
  }
}
