.create {
  width: 100%;

  .main-container {
    width: 95%;
    height: 820px;
    background-color: var(--secondary);
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;

    .inputs {
      display: flex;
      justify-content: space-around;
      align-items: center;

      label {
        font-size: 22px;
        text-decoration: underline;
        text-underline-offset: 0.25em;
      }
    }

    .product-selection {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .button-container {
        height: 60px;
        display: flex;
        align-items: center;
        margin: 0 15px;
      }
    }
  }
}
