.home {
  width: 100%;
  display: flex;
  justify-content: space-around;

  .plan-list {
    background-color: var(--secondary);
    border-radius: 20px;
    width: 660px;
    height: 800px;
    margin-top: 30px;
    padding: 10px 40px;

    h2 {
      margin: 0;
      font-size: 30px;
      font-weight: 400;
    }

    hr {
      width: 100%;
      border: 1px solid var(--text);
      margin-top: 5px;
      margin-bottom: 40px;
    }

    .plans {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;

      .plan {
        background-color: var(--tertiary);
        width: 310px;
        font-size: 18px;
        padding: 5px;
        border-radius: 10px;

        &:hover {
          cursor: pointer;
          filter: brightness(0.95);
        }

        h3 {
          font-size: 20px;
          text-decoration: underline;
          text-underline-offset: 3px;
          margin: 0;
          margin-bottom: 5px;
        }
      }
    }
  }

  .right-container {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    .buttons {
      display: flex;
      justify-content: space-around;
      width: 80%;
    }
  }

  .quick-create {
    background-color: var(--secondary);
    border-radius: 20px;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h2 {
      margin: 0;
      font-weight: 400;
    }
  }
}
