.plan {
  width: 100%;
  height: calc(100% - var(--header-height));
  display: grid;
  grid-template-columns: min-content 1fr;

  .side-panel {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: min-content;
    height: 100%;
    background-color: var(--secondary);

    div {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }

    label {
      font-size: 22px;
      color: gray;
    }

    textarea {
      resize: none;
      border: none;
      background-color: var(--tertiary);
      color: var(--text);
      font-size: 22px;
      border-radius: 20px;
      padding: 5px 10px;

      &:focus {
        outline: 2px solid var(--accent);
      }
    }

    .buttons {
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }

  .plan-view {
    .plan-section {
      width: max-content;
      height: min-content;
      padding: 10px 15px;
      border-radius: 20px;
      margin: 20px;
      background-color: var(--secondary);
    }
  }
}
