.public {
  height: 100%;

  .side-panel {
    height: 100%;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary);
    gap: 30px;

    .order-by {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;

      select {
        width: 250px;
        font-size: 15px;
        padding: 5px;
        height: 30px;
        border-radius: 5px;
      }
    }
  }
}
