@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --primary: #e6f056;
  --secondary: #eeefda;
  --tertiary: #fcfdfc;
  --background: #ffffff;
  --accent: #46954b;
  --text: #000000;
  --drop-shadow: #a0a0a0;

  --header-height: 70px;

  font-family: "Inter", sans-serif;

  color: var(--text);
  background-color: var(--background);

  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.primary-button-style {
  border-radius: 50px;
  border: none;
  color: var(--text);
  background-color: var(--primary);
  text-decoration: none;
  text-align: center;

  &:hover {
    cursor: pointer;
    filter: brightness(0.95);
  }

  &:active {
    filter: brightness(0.9);
  }

  &:focus {
    outline: 2px solid var(--accent);
  }
}

#root {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #165a5a;
    --secondary: #081522;
    --tertiary: #434343;
    --background: #2c2c2c;
    --accent: #2fbc75;
    --text: #fbefef;
    --drop-shadow: #0f0f0f;
  }
}
