@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --primary: #e6f056;
  --secondary: #eeefda;
  --tertiary: #fcfdfc;
  --accent: #46954b;
  --text: #000000;

  font-family: "Inter", sans-serif;

  color: var(--text);
  background-color: var(--tertiary);
}

body {
  margin: 0;
}
