@use "sass:list";

.plan-section {
  width: fit-content;
  height: max-content;
  padding: 8px 13px;
  border-radius: 20px;
  margin: 15px;
  overflow: hidden;

  div {
    margin: 4px 0;
  }

  .name {
    display: flex;

    div {
      margin: 0;
    }
  }

  .ingredients {
    display: flex;
    flex-wrap: wrap;
  }

  select {
    border: none;
    background-color: var(--tertiary);
    color: var(--text);
    height: 20px;
    padding-right: 5px;
    margin-left: 10px;
    font-size: 16px;

    &:focus {
      outline: 2px solid var(--accent);
    }
  }

  $light-background-colors: (#687d8f, #4d677a);

  $dark-background-colors: (#3c4c5a, #1c2933);

  // light
  @for $i from 1 through 2 {
    &.layer#{$i} {
      background-color: list.nth($light-background-colors, $i);
    }
  }

  // dark
  @media (prefers-color-scheme: dark) {
    @for $i from 1 through 2 {
      &.layer#{$i} {
        background-color: list.nth($dark-background-colors, $i);
      }
    }
  }
}
