.modal {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .error {
    color: #ff7852;
    font-size: 25px;
    margin: 0;
  }

  .shared-to {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--accent);
    color: black;
    font-size: 20px;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
  }

  h2 {
    font-weight: 500;
    font-size: 40px;
    margin: 0;
  }

  label {
    font-size: 25px;
  }

  .checkbox {
    width: 25px;
    height: 25px;
    margin: 0 20px 2px;
    vertical-align: bottom;
  }
}
