header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--primary);
  display: flex;

  div {
    display: flex;
    align-items: center;
    justify-content: space;
    flex-grow: 4;
    height: 100%;

    &.left-container {
      a {
        height: 100%;

        .logo {
          height: 100%;
        }
      }
    }

    &.right-container {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
    }
  }
}
