.custom-input {
  height: 40px;
  padding: 0 15px;
  border: none;
  border-radius: 50px;
  background-color: var(--tertiary);
  color: var(--text);
  font-size: 22px;

  &.large {
    width: 350px;
  }

  &.small {
    width: 100px;
  }

  &:focus {
    outline: 2px solid var(--accent);
  }

  &:invalid {
    outline: 2px solid red;
  }
}

.custom-data-list {
  position: absolute;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--tertiary);
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 5px;

    &.selected {
      background-color: var(--primary);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--background);
    }
  }
}
