.custom-input {
  height: 40px;
  padding: 0 15px;
  border: none;
  border-radius: 50px;
  background-color: var(--tertiary);
  color: var(--text);
  font-size: 22px;

  &.large {
    width: 350px;
  }

  &.small {
    width: 100px;
  }

  &:focus {
    outline: 2px solid var(--accent);
  }
}
